:root {
    --foreground-color: white;
    --background-color: #3a0b3a;

    --foreground-alt-color: #3a0b3a;
    --background-alt-color: #ff8db1;
    --button-background-color: radial-gradient(circle, #512da8, #311b92);
    --button-color: gold;
}
body {
    margin: 0;
    padding: 0;
}
