:root {
    --foreground-color: white;
    --background-color: radial-gradient(#0f2845, #02050a);

    --foreground-alt-color: #3a0b3a;
    --background-alt-color: #ff8db1;
    --button-background-color: radial-gradient(circle, #512da8, #311b92);
    --button-color: gold;
    --headline-color: gold;
}

*,
body,
main,
header {
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(#0f2845, #02050a);
    height: 100%;
    min-height: 100vh;
}