:root {
    --foreground-color: white;
    --background-color-gradient: radial-gradient(circle, #0f2845, #02050a);
    --background-color: #02050a;

    --foreground-alt-color: #02050a;
    --background-alt-color: #f09445;
    --button-background-color: radial-gradient(circle, #512da8, #311b92);
    --button-color: gold;
    --headline-color: gold;
}

*,
body,
main,
header {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: var(--background-color);
}

.content-container {
    background: var(--background-color-gradient);
    min-height: 100vh;
}